@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: gray;
}

.container {
    margin-left: 35vh;
    margin-right: 35vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 7.5vh;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.inner header {
    background-color: red;
    height: 3vh;
}

.inner header span {
    color: white;
    display: flex;
    justify-content: left;
    padding: .5vh;
}

.inner main {
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    padding-bottom: 3.5vh;;
    background-color: white;
}

.inner main h2 {
    padding-top: 3.5vh;
    font-size: 4.5vh;
}

.inner main form label {
    font-size: 2.5vh;
}

.inner main form input {
    float: right;
    height: 2.5vh;
    font-size: 1.75vh;
}

.inner main form button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    float: right;
}

.inner main form button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.inner main form button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.inner main form button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.inner main form button:focus {
    outline: 1px transparent;
}

.inner main form button:before {
    display: none;
}

.inner main form button:-webkit-details-marker {
  display: none;
}

.inner footer {
    background-color: darkgray;
    height: 3vh;
}

.inner footer span {
    color: white;
    display: flex;
    justify-content: center;
    padding: .5vh;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}